@font-face {
    font-family: 'B612 Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(B612Mono.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'B612 Mono', 'Courier New', Courier, monospace;
    background-color: black;
    color: #fff;
}

.joystick {
    background-color: none;
    border: 5px solid #fff;
}

.joystick-x {
    position: absolute;
    left: 50%;
    width: 0.5vh;
    bottom: 0;
    top: 0;
    background-color: #fff;
}

.joystick-y {
    position: absolute;
    top: 50%;
    height: 0.5vh;
    left: 0;
    right: 0;
    background-color: #fff;
}

div {
    margin: 0;
}

#drive {
    position: absolute;
    right: 2vh;
    bottom: 57vh;
    width: 40vh;
    height: 40vh;
}

#arm-left {
    position: absolute;
    left: 2vh;
    bottom: 2vh;
    width: 40vh;
    height: 40vh;
}

#arm-right {
    position: absolute;
    right: 2vh;
    bottom: 2vh;
    width: 40vh;
    height: 40vh;
}

#telemetry {
    margin: 0;
    position: absolute;
    left: 2vh;
    right: 44vh;
    top: 2vh;
    bottom: 44vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "b bv bv ba ba"
        "c c1 c2 c3 c4"
        "d dl dl dr dr"
        "ap ax aj2 aj3 ."
        "ae aex aey aez .";
}

#telemetry>div>div:nth-child(1) {
    top: 0;
    height: 70%;
    width: 100%;
}

#telemetry>div>div:nth-child(2) {
    height: 30%;
    width: 100%;
}

#telemetry>p {
    margin: 0;
    font-size: 5vh;
    text-align: center;
    align-self: center;
}

#controls {
    position: absolute;
    left: 46vh;
    right: 46vh;
    bottom: 2vh;
    height: 35vh;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "l on off"
        "d u o";
    place-items: center;
    gap: 4px;
    padding: 4px;
    background-color: #fff;
}

#controls>* {
    background-color: #000;
    width: 100%;
    height: 100%;
}

.override {
    user-select: none;
}

#full-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 10vh;
    height: 10vh;
}

select {
    box-sizing: border-box;
    border: none;
    background-color: #000000;
    color: #ffffff;
    outline: none;
    font-size: 5vh;
}

#upload {
    position: relative;
    opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#upload-label {
    grid-area: u;
    height: unset;
    user-select: none;
    position: absolute;
    z-index: 1;
    margin: 0;
    font-size: 5vh;
    text-align: center;
}